.clothes-section {
  display: flex;
  flex-direction: column;
}

.clothes-section__title {
  display: flex;
  align-items: baseline;
  gap: 20px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  line-height: 1.2;
}

.clothes-section__card {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.clothes-section__button {
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "Cabinet Grotesk";
}

.clothes-section__button:hover {
  cursor: pointer;
  opacity: 0.8;
}
