.sidebar {
  display: flex;
  margin-right: 116px;
  max-height: 56px;
  align-items: center;
}

.sidebar__avatar-image {
  width: 56px;
  height: 56px;
  border: rgba(0, 0, 0, 0.5) 1px;
  margin-right: 16px;
}

.sidebar__avatar-name {
  font-family: "CabinetGrotesk-Bold", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}
