.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
}

.profile {
  display: flex;
  padding: 40px;
}

.sidebar {
  display: flex;
  margin-right: 116px;
  max-height: 56px;
  align-items: center;
}

.sidebar__avatar-image {
  width: 56px;
  height: 56px;
  border: rgba(0, 0, 0, 0.5) 1px;
  margin-right: 16px;
}

.sidebar__avatar-name {
  font-family: "CabinetGrotesk-Bold", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.clothes-section {
  display: flex;
  flex-direction: column;
}

.clothes-section__title {
  display: flex;
  align-items: baseline;
  gap: 20px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  line-height: 1.2;
}

.clothes-section__card {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.clothes-section__button {
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "Cabinet Grotesk";
  
}

.clothes-section__button:hover {
  cursor: pointer;
  opacity: 0.8;
}
